    /*******************
    *  INDEX.HTML CSS  *
    *******************/

/* MAIN */

main {
    margin-top: 30px;
}

section#sec-pc-1 {
    margin-right: 20px;
}

iframe, article {
    width: 650px;
}

iframe {
    height: 400px;
    background-color: bisque;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: darkkhaki;
}